body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}
header
{
    background-color:#526962;
    padding: 16px 0;
}
header h1
{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style:normal;
    display: inline-flex;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}
nav
{
    background-color:#71A790;
    margin-bottom: 20px;
}
nav ul
{ list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li
{
    flex-grow: 1;
}
nav ul li a
{ color: white;
  text-decoration: none;
  padding: 3px 6px;
  display: block;
  text-align:center;
}
nav ul li a:hover
{
    background-color:#526962 ;
}
footer
{
    background-color: #ccc;
    clear: both;
    color:#333;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}
nav ul li a.activo
{
  background-color: #526962
}
.holder
{
    max-width: 960px;
    margin: 0 auto;
}
main p
{
    font-size: 24px;
}
h2
{
    text-align: center;
    font-size: 40px;
}
.container
{   
    position: relative;
    bottom: 250px;
    margin-left: 500px;
}
.contenedor-imagenes {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
  }
  
  .imagen {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .holder-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .contenido {
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-flex;
}
.contenido p
{
    margin-left: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5;
}